#**Maestría en Inteligencia Artificial Aplicada**
## *Ciencia y Analítica de Datos*

### **Semana 2 Actividad 1**


Nombre del estudiante: ***MIGUEL GUILLERMO GALINDO OROZCO***

Matrícula: ***A01793695***

## ***Curso IBM Python For Data Science***

#### *Módulo 4*

###### Reading Files with Open

Utilizo un archivo de ejemplo de google colab

In [1]:
file_name = '/content/sample_data/california_housing_train.csv'
#file_name = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

In [2]:
file1 = open(file_name, "r")

In [3]:
file1.name

'/content/sample_data/california_housing_train.csv'

In [4]:
file1.mode

'r'

In [5]:
contenido_file = file1.read()

In [6]:
## La siguiente línea de código imprime el contenido del archivo, que fue almacenado en el objeto "conentido_file"
## Por temas de visualización dentro de github, le índico que sólo imprima los primeros caracteres, a forma de mostrar que el objetivo si leyó el archivo

In [7]:
contenido_file[0:100]

'"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households"'

In [8]:
## Por temas de visualización dentro de github, comento las siguientes líneas

In [9]:
#print(contenido_file)

In [10]:
type(contenido_file)

str

In [11]:
file1.close()

Una mejor práctica es utilizar el With Statement. De esta forma aseguras que se procese todo lo que esté identado dentro del statement y se cerrará el archivo al final del proceso.

In [12]:
## Por temas de visualización dentro de github, corro y después comento las siguientes líneas

In [13]:
#with open(file_name, "r") as file_w1:
 #   contenido_file = file_w1.read()
  #  print(contenido_file)

In [14]:
file_w1.closed  # Se cierra en automático el archivo cuando usas el with statement

NameError: ignored

In [15]:
file1.closed # el archivo anterior está cerrado?

True

In [16]:
## Por temas de visualización dentro de github, comento las siguientes líneas

In [17]:
#print(contenido_file) ## Se mantiene el contenido

Puedes entrar sólo a ciertas parte del file (los primeros 8 caracteres)

In [18]:
with open(file_name, "r") as file_w1:
    print(file_w1.read(8))

"longitu

In [19]:
## Los siguientes veces que llame el archivo de la misma forma, iniciará desde donde terminó
with open(file_name, "r") as file_w1:
    print(file_w1.read(4))
    print(file_w1.read(4))
    print(file_w1.read(7))
    print(file_w1.read(15))

"lon
gitu
de","la
titude","housin

In [20]:
# Leer una línea 
with open(file_name, "r") as file_w1:
    print("primer línea: " + file_w1.readline())

primer línea: "longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

In [22]:
### Sucede lo mismo con las líneas, lee a partir de dónde termino la última lectura

with open(file_name, "r") as file_w1:
    print(file_w1.readline(2)) # Lee a partir de la última 
    print(file_w1.readline(20)) # 20 caracteres desde la última

"l
ongitude","latitude"

In [23]:
## Por temas de visualización dentro de github, corro y después comento las siguientes líneas

In [24]:
# Itera sobre las líneas

#with open(file_name,"r") as file_linea_l:
 #       for line in file_linea_l:
 ##       i = 0;
   #         print("Iteration", str(i), ": ", line)
    #        i = i + 1

In [25]:
# Leer el archivo como lista, cada linea es un elmento de la lista

with open(file_name, "r") as file:
    file_lista = file.readlines()

In [26]:
file_lista[0]

'"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"\n'

In [27]:
file_lista[1]

'-114.310000,34.190000,15.000000,5612.000000,1283.000000,1015.000000,472.000000,1.493600,66900.000000\n'

###### Writing Files with Open

In [28]:
with open('/content/sample_data/ejemplo_open_write.txt','w') as file_w1: 
  file_w1.write('esta es la primera linea\n')
  file_w1.write('esta es la segunda linea\n')

In [29]:
lista_lineas = ['linea1','linea2','linea3','linea rara 4']

In [30]:
with open('/content/sample_data/ejemplo_write_open_lista.txt','w') as file_2:
  for line in lista_lineas: 
    file_2.write(line)

In [31]:
# Ahora utilizando el append

In [32]:
with open('/content/sample_data/ejemplo_open_write.txt','a') as file_a1:
  file_a1.write('agregando línea a archivo')

In [33]:
### Copiando el contenido de un file en otro

In [34]:
with open('/content/sample_data/ejemplo_open_write.txt', "r") as file_w1:
    contenido_file = file_w1.read()
    print(contenido_file)

esta es la primera linea
esta es la segunda linea
agregando línea a archivo

In [35]:
with open('/content/sample_data/ejemplo_open_write.txt', "r") as file_original:
  with open('/content/sample_data/ejemplo_open_write_copiado.txt','w') as file_copia: 
    for l in file_original:
      file_copia.write(l)

In [36]:
with open('/content/sample_data/ejemplo_open_write_copiado.txt', "r") as file_w1:
    contenido_file = file_w1.read()
    print(contenido_file)

esta es la primera linea
esta es la segunda linea
agregando línea a archivo

In [37]:
### Ejemplo para hacer reading and writing en el mismo archivo

In [38]:
with open('/content/sample_data/ejemplo_open_write_copiado.txt','r+') as file_r_w:
  data = file_r_w.readlines()
  #file_r_w.seek(0,0)
  file_r_w.write('nueva linea para leer y esribir sobre mismo archivo 1' + '\n')
  file_r_w.write('nueva linea para leer y esribir sobre mismo archivo 2' + '\n')
  file_r_w.write('nueva linea para leer y esribir sobre mismo archivo 3' + '\n')

  file_r_w.truncate()
  file_r_w.seek(0,0)
  print(file_r_w.read())

esta es la primera linea
esta es la segunda linea
agregando línea a archivonueva linea para leer y esribir sobre mismo archivo 1
nueva linea para leer y esribir sobre mismo archivo 2
nueva linea para leer y esribir sobre mismo archivo 3

###### Pandas: loading data

In [39]:
import pandas as pd

In [40]:
csv_ruta = '/content/sample_data/california_housing_train.csv'

In [41]:
df = pd.read_csv(csv_ruta)

In [42]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [43]:
## Para excel sería igual pero con otra función dentro de pandas

In [44]:
#xlsx_ruta='excel_file.xlsx'
#df = pd.read_excel(xlsx_ruta)
#df.head

In [45]:
# creando un dataframe

In [46]:
canciones ={ 'album':['alb 1','alb 2','alb 3'], 
            'fecha':['f1','f2','f3'],
            'tamaño':['tam1','tam2','tam3']}

canciones_df = pd.DataFrame(canciones)

In [47]:
canciones_df.head()

   album fecha tamaño
0  alb 1    f1   tam1
1  alb 2    f2   tam2
2  alb 3    f3   tam3

In [48]:
album_df = canciones_df[['album']]

In [49]:
album_df.head()

   album
0  alb 1
1  alb 2
2  alb 3

In [50]:
## Accesando a ciertos datos

In [51]:
## primer renglon y primer columna

In [52]:
canciones_df.iloc[0,0]

'alb 1'

In [53]:
canciones_df.loc[0,'album']

'alb 1'

In [54]:
canciones_df.iloc[0:2,0:2]

   album fecha
0  alb 1    f1
1  alb 2    f2

##### Working with and Saving Data with Pandas

In [55]:
ejemplo ={ 'album':['alb 1','alb 2','alb 3','alb 4','alb 5'], 
            'fecha':['f1','f2','f3','f2','f2'],
            'tamaño':['tam1','tam2','tam3','tam4','tam5'], 
          'variable_filtro':[1,2,3,4,5]}

ejemplo_df = pd.DataFrame(ejemplo)

In [56]:
ejemplo_df['fecha'].unique()

array(['f1', 'f2', 'f3'], dtype=object)

In [57]:
ejemplo_df['variable_filtro']>2

0    False
1    False
2     True
3     True
4     True
Name: variable_filtro, dtype: bool

In [58]:
df_filtrado = ejemplo_df[ejemplo_df['variable_filtro']>2]

In [59]:
df_filtrado.head()

   album fecha tamaño  variable_filtro
2  alb 3    f3   tam3                3
3  alb 4    f2   tam4                4
4  alb 5    f2   tam5                5

In [60]:
## Para escribir un cvs

In [61]:
df_filtrado.to_csv('/content/sample_data/df_album_ejemplo_filtrado.csv',index=False)

In [62]:
df = pd.read_csv('/content/sample_data/df_album_ejemplo_filtrado.csv')

In [63]:
df.head()

   album fecha tamaño  variable_filtro
0  alb 3    f3   tam3                3
1  alb 4    f2   tam4                4
2  alb 5    f2   tam5                5

# **FINAL DE LA PRÁCTICA MÓDULO 4**