#**Maestría en Inteligencia Artificial Aplicada**
## *Ciencia y Analítica de Datos*

### **Semana 3 Actividad 1**


Nombre del estudiante: ***MIGUEL GUILLERMO GALINDO OROZCO***

Matrícula: ***A01793695***

# ***Limpieza de una base de Datos***

## **Parte 1: Fundamentos de bases de datos**

*Insights*



*   Una **base de datos** es una colección de información organizada de forma lógica cuyo objetivo es almacenar la descripción de un sistema particular del mundo real.

*   **Data warehouse** (o almacén de datos) es un repositorio centralizado de las bases de datos, el cual es gestionado por un agente de control, almacenadas de una forma conveniente para el consumo y que se puede analizar para la óptima toma de decisiones. 



*   El objetivo de un **científico de datos es generar valor a través de los datos**, dónde para lograr este objetivo sigue el siguiente esquema: 

      * Definición de problema.
      * Recolección y preparación de los datos.
      * Desarrollo de modelo.
      * Implementación del desarrollo. 
      * Medición y continua mejora. 

* Dentro del trabajo de un científico de datos es esencial **recolectar y limpiar los datos** ya que es a través de este proceso que permite obtener patrones en la información y que estos ayuden a la toma de decisiones. De no realizarse, la información obtenida podría no transmitir ningún insight que permita sacar conclusiones de provecho. 

* Entre las principales tareas de limpieza de una base de datos se encuentran el **tratamiento de missing values (valores ausentes) y outliers (datos atípicos)**. 

* Dentro de los valores ausentes, es importante entender la variable y las razones del dato ausente, ya que estos pueden ser por un error en el reporte que se presente de manera aleatoria, o que realmente la falta del dato esté aportando información para entender el patrón de comportamiento. 
Algunas herramientas para la limpieza de datos ausentes son: imputación de media o mediana, asignación por aproximación, o eliminación de registros. 

* De igual forma, es importante entender los datos atípicos para su tratamiento, puede tratarse de un error en la captura de los datos, o de un comportamiento específico de la información. El tratamiento de estos puede ser a través de agrupar la información, disminuyendo el impacto de los mismos, o acotando su valor a un rango inter-cuartil que haga sentido dentro de la distribución de los datos. 
Finalmente, es importante considerar qué algoritmo se quiere entrenar para desarrollar el modelo, ya que algunos de ellos no necesariamente necesitan un tratamiento exhaustivo de outliers, por ejemplo un ensambles de árboles.

## **Parte 2: Selección y limpieza de los Datos en Python**

Documentación de funcionamiento del código

La intención del presente código es la limpieza de la base de datos vía replicar algunas de las técnicas y soluciones a problemáticas de los datos aprendidas en clase. 
Adicionalmente, se utilizarán técnicas que creo pertinentes aplicar desde mi  experiencia con el trato de los datos. 

La forma de realizar la limpieza será la siguiente: 

  1. Conocer el contenido general de los datos, el tipo de dato, y su distribución.
  2. Aplicar limpieza y transformaciones necesarias a las variables derivado del conocimiento adquirido en el paso anterior.  El tratamiento seleccionado será de acuerdo a la información que quiera transmitir cada variable. En caso de ser necesaria alguna transformación extra, se especifica en cada paso. 

**Nota:** Se asume que la presente base de datos se utilizará para el desarrollo de un modelo, y que el contenido actual sólo representa el set de entrenamiento por lo que no es necesario particionar la base, ni existirá problemática de filtrado de información.

###### Librerías a emplear

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

###### Lectura de Data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv')

Visualización de la data que acabamos de leer

In [4]:
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

Conocer el tamaño de los datos que vamos a observar

In [5]:
df.shape # Código para conocer la estructura de la data

(30000, 25)

El data frame contiene 30,000 registros con 25 columnas

### Análisis general de los datos

Descripción breve y rápida de los datos

In [6]:
df.describe()  ## Descripción del Dataframe

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

Conocer el total de missing values por columna

In [7]:
### Iteración por columna para conocer el total de missing values
for i in df.columns: 
  print('Columna ' + str(i) + ' tiene ' +  str(df[i].isna().sum()) +' valores nulos, que representa ' + str(round((df[i].isna().sum()/df[i].count())*100,2)) +'% del total' )

Columna ID tiene 0 valores nulos, que representa 0.0% del total
Columna X1 tiene 0 valores nulos, que representa 0.0% del total
Columna X2 tiene 1 valores nulos, que representa 0.0% del total
Columna X3 tiene 2 valores nulos, que representa 0.01% del total
Columna X4 tiene 2 valores nulos, que representa 0.01% del total
Columna X5 tiene 5 valores nulos, que representa 0.02% del total
Columna X6 tiene 3 valores nulos, que representa 0.01% del total
Columna X7 tiene 5 valores nulos, que representa 0.02% del total
Columna X8 tiene 7 valores nulos, que representa 0.02% del total
Columna X9 tiene 9 valores nulos, que representa 0.03% del total
Columna X10 tiene 16 valores nulos, que representa 0.05% del total
Columna X11 tiene 14 valores nulos, que representa 0.05% del total
Columna X12 tiene 11 valores nulos, que representa 0.04% del total
Columna X13 tiene 11 valores nulos, que representa 0.04% del total
Columna X14 tiene 13 valores nulos, que representa 0.04% del total
Columna X15 tiene 15 valores nulos, que representa 0.05% del total
Columna X16 tiene 17 valores nulos, que representa 0.06% del total
Columna X17 tiene 10 valores nulos, que representa 0.03% del total
Columna X18 tiene 8 valores nulos, que representa 0.03% del total
Columna X19 tiene 9 valores nulos, que representa 0.03% del total
Columna X20 tiene 8 valores nulos, que representa 0.03% del total
Columna X21 tiene 11 valores nulos, que representa 0.04% del total
Columna X22 tiene 11 valores nulos, que representa 0.04% del total
Columna X23 tiene 5 valores nulos, que representa 0.02% del total
Columna Y tiene 3 valores nulos, que representa 0.01% del total

Conocer el tipo de dato, valores únicos y algunos ejemplos del dato por columna:

In [8]:
## Iteración por columna para conocer el tipo de dato, valores únicos, y ejemplos del dato
for i in df.columns: 
  print('Columna ' + str(i) + ' es un dato tipo ' +  str(df.dtypes[i]) + ' con ' + str(df[i].nunique()) + ' valores únicos. ' + 'Algunos ejemplos son: ' + str(np.array(df.loc[:,i][0:5])) )

Columna ID es un dato tipo int64 con 30000 valores únicos. Algunos ejemplos son: [1 2 3 4 5]
Columna X1 es un dato tipo int64 con 81 valores únicos. Algunos ejemplos son: [ 20000 120000  90000  50000  50000]
Columna X2 es un dato tipo float64 con 2 valores únicos. Algunos ejemplos son: [2. 2. 2. 2. 1.]
Columna X3 es un dato tipo float64 con 7 valores únicos. Algunos ejemplos son: [2. 2. 2. 2. 2.]
Columna X4 es un dato tipo float64 con 4 valores únicos. Algunos ejemplos son: [1. 2. 2. 1. 1.]
Columna X5 es un dato tipo float64 con 56 valores únicos. Algunos ejemplos son: [24. 26. 34. 37. 57.]
Columna X6 es un dato tipo float64 con 11 valores únicos. Algunos ejemplos son: [ 2. -1.  0.  0. -1.]
Columna X7 es un dato tipo float64 con 11 valores únicos. Algunos ejemplos son: [2. 2. 0. 0. 0.]
Columna X8 es un dato tipo float64 con 11 valores únicos. Algunos ejemplos son: [-1.  0.  0.  0. -1.]
Columna X9 es un dato tipo float64 con 11 valores únicos. Algunos ejemplos son: [-1.  0.  0.  0.  0.]
Columna X10 es un dato tipo float64 con 10 valores únicos. Algunos ejemplos son: [-2.  0.  0.  0.  0.]
Columna X11 es un dato tipo float64 con 10 valores únicos. Algunos ejemplos son: [-2.  2.  0.  0.  0.]
Columna X12 es un dato tipo float64 con 22718 valores únicos. Algunos ejemplos son: [ 3913.  2682. 29239. 46990.  8617.]
Columna X13 es un dato tipo float64 con 22339 valores únicos. Algunos ejemplos son: [ 3102.  1725. 14027. 48233.  5670.]
Columna X14 es un dato tipo float64 con 22020 valores únicos. Algunos ejemplos son: [  689.  2682. 13559. 49291. 35835.]
Columna X15 es un dato tipo float64 con 21541 valores únicos. Algunos ejemplos son: [    0.  3272. 14331. 28314. 20940.]
Columna X16 es un dato tipo float64 con 21000 valores únicos. Algunos ejemplos son: [    0.  3455. 14948. 28959. 19146.]
Columna X17 es un dato tipo float64 con 20600 valores únicos. Algunos ejemplos son: [    0.  3261. 15549. 29547. 19131.]
Columna X18 es un dato tipo float64 con 7941 valores únicos. Algunos ejemplos son: [   0.    0. 1518. 2000. 2000.]
Columna X19 es un dato tipo float64 con 7899 valores únicos. Algunos ejemplos son: [  689.  1000.  1500.  2019. 36681.]
Columna X20 es un dato tipo float64 con 7517 valores únicos. Algunos ejemplos son: [    0.  1000.  1000.  1200. 10000.]
Columna X21 es un dato tipo float64 con 6936 valores únicos. Algunos ejemplos son: [   0. 1000. 1000. 1100. 9000.]
Columna X22 es un dato tipo float64 con 6895 valores únicos. Algunos ejemplos son: [   0.    0. 1000. 1069.  689.]
Columna X23 es un dato tipo float64 con 6939 valores únicos. Algunos ejemplos son: [   0. 2000. 5000. 1000.  679.]
Columna Y es un dato tipo float64 con 2 valores únicos. Algunos ejemplos son: [1. 1. 0. 0. 0.]

### Análisis por columna

En esta sección se analiza por columnas o conjuntos de columna dependiendo de la información que transmitan las variables de acuerdo a la definición de las mismas. 
La definición de las variables es tomada del conjunto de datos que se encuentra en el mismo repositorio del ejercicio.

###### **Columna ID**

Identificador único del registro. 

Esta columna es la única que se trata por separado al no coniderarse dentro de alguna de las definiciones anteriores. 

Es una variable con el mismo número de valores únicos que el total de registros en el dataset. Van de 1 a 30,000.

No tiene missing values.

*Sólo se decide modificar el tipo de columna de int a str para no tener problemas en lectura de la base en el futuro, o por cruces con otras bases de datos*

In [9]:
df['ID'] = df['ID'].astype(str) ## Cambiar el tipo de dato a string

###### **Columna X1 -- Cantidad proporcionada en el crédito**

No es necesario hacer transformación ya que el tipo de dato es int, y no contiene missing values

###### **Columna X2 -- Género**

Columna categórica sobre el género de la persona. 

Dónde 1 = Hombre, 2 = Mujer. 

El tratamiento de missing values es asignando la moda.

In [10]:
df[['X2']].groupby('X2').size().sort_values(ascending=False) ### observar valores más repetidos

X2
2.0    18112
1.0    11887
dtype: int64

In [11]:
valor = df['X2'].mode()[0] ## Guardar la moda

In [12]:
df['X2'] = df['X2'].fillna(value=valor) ## Asignación de missing values a la moda

###### **Columna X3 -- Educación**

Columna categórica sobre el nivel de educación de la persona.

(1 = graduate school; 2 = university; 3 = high school; 4 = others).

El tratamiento de missing values (2 valores nulos) es asignando la moda.

In [13]:
df[['X3']].groupby('X3').size().sort_values(ascending=False) ### observar valores más repetidos

X3
2.0    14030
1.0    10585
3.0     4915
5.0      280
4.0      123
6.0       51
0.0       14
dtype: int64

In [14]:
valor = df['X3'].mode()[0] ## Guardar la moda

In [15]:
df['X3'] = df['X3'].fillna(value=valor) ## Asignación de missing values a la moda

Adicionalmente se observa que existen categorías no definidas (5,6,0)

Se asignan dichos valores a la categoría 4 (otros)

In [16]:
df['X3'] = np.where((df['X3']==0) | (df['X3']==5) | (df['X3']==6), 4, df['X3']) ## Función np.where que evalua condición y de ser cierta asigna el primer valor

###### **Columna X4 -- Estado Civil**

Columna categórica sobre el nivel de educación de la persona.

(1 = married; 2 = single; 3 = others)

El tratamiento de missing values (solo 2 valore nulos) es asignando la moda.

In [17]:
df[['X4']].groupby('X4').size().sort_values(ascending=False) ### observar valores más repetidos

X4
2.0    15964
1.0    13657
3.0      323
0.0       54
dtype: int64

In [18]:
valor = df['X4'].mode()[0] ## Guardar la moda

In [19]:
df['X4'] = df['X4'].fillna(value=valor) ## Asignación de missing values a la moda

Adicionalmente se observa que existen categorías no definidas (0)

Se asignan dichos valores a la categoría 3 (otros)

In [20]:
df['X4'] = np.where((df['X4']==0) , 3, df['X4']) ## Función np.where que evalua condición y de ser cierta asigna el primer valor

###### **Columna X5 -- Edad**

Columna númerica de la edad de la persona. 

Recordando la distribución.

In [21]:
df[['X5']].describe() # Descripción de la distribución de la variable

                 X5
count  29995.000000
mean      35.484214
std        9.218024
min       21.000000
25%       28.000000
50%       34.000000
75%       41.000000
max       79.000000

Observamos que la media y mediana no presentan diferencias significativas. Se decide utilizar la media.

In [22]:
valor = df['X5'].mean() ## Almacenar el valor de la media

In [23]:
df['X5'] = df['X5'].fillna(value=valor) ## Asignación a valores nulos

###### **Columna X6 a X11 -- Histórico de pagos**

Estatus de pago en cada mes.

Donde X6 = Sep 2005, X7=Ago 2005, ..., X11= Abr 2005. 

Status is: 

-1 = pay duly; 

1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.

Las siguientes lineas de código desglozan el comportamiento por mes del estatus de pago

In [24]:
df[['X6']].groupby('X6').size().sort_values(ascending=False) ### observar valores más repetidos

X6
 0.0    14736
-1.0     5684
 1.0     3688
-2.0     2759
 2.0     2667
 3.0      322
 4.0       76
 5.0       26
 8.0       19
 6.0       11
 7.0        9
dtype: int64

In [25]:
df[['X7']].groupby('X7').size().sort_values(ascending=False) ### observar valores más repetidos

X7
 0.0    15728
-1.0     6047
 2.0     3927
-2.0     3782
 3.0      326
 4.0       99
 1.0       28
 5.0       25
 7.0       20
 6.0       12
 8.0        1
dtype: int64

In [26]:
df[['X8']].groupby('X8').size().sort_values(ascending=False) ### observar valores más repetidos

X8
 0.0    15761
-1.0     5935
-2.0     4085
 2.0     3819
 3.0      240
 4.0       76
 7.0       27
 6.0       23
 5.0       21
 1.0        4
 8.0        2
dtype: int64

In [27]:
df[['X9']].groupby('X9').size().sort_values(ascending=False) ### observar valores más repetidos

X9
 0.0    16450
-1.0     5685
-2.0     4348
 2.0     3157
 3.0      180
 4.0       69
 7.0       58
 5.0       35
 6.0        5
 1.0        2
 8.0        2
dtype: int64

In [28]:
df[['X10']].groupby('X10').size().sort_values(ascending=False) ### observar valores más repetidos

X10
 0.0    16937
-1.0     5535
-2.0     4546
 2.0     2624
 3.0      178
 4.0       84
 7.0       58
 5.0       17
 6.0        4
 8.0        1
dtype: int64

In [29]:
df[['X11']].groupby('X11').size().sort_values(ascending=False) ### observar valores más repetidos

X11
 0.0    16278
-1.0     5735
-2.0     4895
 2.0     2765
 3.0      184
 4.0       49
 7.0       46
 6.0       19
 5.0       13
 8.0        2
dtype: int64

Con lo anterior, observamos que existen categóricas (0,-2) no incluidas en la 
definición. Por el contexto del problema se interpretan como status corriente en pagos. 

Entonces se asigna el valor de -1

In [30]:
df['X6'] = np.where((df['X6']==0) | (df['X6']==-2),-1,df['X6'])
df['X7'] = np.where((df['X7']==0) | (df['X7']==-2),-1,df['X7'])
df['X8'] = np.where((df['X8']==0) | (df['X8']==-2),-1,df['X8'])
df['X9'] = np.where((df['X9']==0) | (df['X9']==-2),-1,df['X9'])
df['X10'] = np.where((df['X10']==0) | (df['X10']==-2),-1,df['X10'])
df['X11'] = np.where((df['X11']==0) | (df['X11']==-2),-1,df['X11'])

Por las definiciones anteriores, donde la variable te habla sobre el estatus de pago en dicho mes, si existe un missing value, se asigna el valor del mes anterior observado como mejor aproximación del valor faltante

In [31]:
df['X10'] = np.where(df['X10'].isna(),df['X11'],df['X10']) ## Si no existe información de Mayo, se utiliza la de Abril
df['X9'] = np.where(df['X9'].isna(),df['X10'],df['X9']) ## Si no existe información de Junio, se utiliza la de Mayo
df['X8'] = np.where(df['X8'].isna(),df['X9'],df['X8']) ## Si no existe información de Julio, se utiliza la de Junio
df['X7'] = np.where(df['X7'].isna(),df['X8'],df['X7']) ## Si no existe información de Agosto, se utiliza la de Julio
df['X6'] = np.where(df['X6'].isna(),df['X7'],df['X6']) ## Si no existe información de Septiembre, se utiliza la de Agosto

In [32]:
### Observar valores nulos por columna de las columnas que estams analizando
for i in df[['X6','X7','X8','X9','X10','X11']].columns: 
  print('Columna ' + str(i) + ' tiene ' +  str(df[i].isna().sum()) +' valores nulos, que representa ' + str(round((df[i].isna().sum()/df[i].count())*100,2)) +'% del total' )

Columna X6 tiene 3 valores nulos, que representa 0.01% del total
Columna X7 tiene 5 valores nulos, que representa 0.02% del total
Columna X8 tiene 5 valores nulos, que representa 0.02% del total
Columna X9 tiene 5 valores nulos, que representa 0.02% del total
Columna X10 tiene 14 valores nulos, que representa 0.05% del total
Columna X11 tiene 14 valores nulos, que representa 0.05% del total

Aún siguen existiendo missing values en las columnas seleccionadas, por lo que se decide asignar una nueva categoría (0) para aquellos que después del tratamiento sigan presentando missing values. 

Se decide una nueva categoría porque a la hora de que nuestro modelo enfrente datos desconocidos, es muy posible que siga afrotando valores faltantes.

In [33]:
df['X6'] = np.where(df['X6'].isna(),0,df['X6'])
df['X7'] = np.where(df['X7'].isna(),0,df['X7'])
df['X8'] = np.where(df['X8'].isna(),0,df['X8'])
df['X9'] = np.where(df['X9'].isna(),0,df['X9'])
df['X10'] = np.where(df['X10'].isna(),0,df['X10'])
df['X11'] = np.where(df['X11'].isna(),0,df['X11'])

In [34]:
## Evaluación de valores nulos por columna actual
for i in df[['X6','X7','X8','X9','X10','X11']].columns: 
  print('Columna ' + str(i) + ' tiene ' +  str(df[i].isna().sum()) +' valores nulos, que representa ' + str(round((df[i].isna().sum()/df[i].count())*100,2)) +'% del total' )

Columna X6 tiene 0 valores nulos, que representa 0.0% del total
Columna X7 tiene 0 valores nulos, que representa 0.0% del total
Columna X8 tiene 0 valores nulos, que representa 0.0% del total
Columna X9 tiene 0 valores nulos, que representa 0.0% del total
Columna X10 tiene 0 valores nulos, que representa 0.0% del total
Columna X11 tiene 0 valores nulos, que representa 0.0% del total

###### **Columnas X12 a X17 -- Cantidad adeudada por mes**

Variables sobre la cantidad adeuda por mes. 

Donde X12 = Cantidad adeudada a Sep 2005, X13= Cantidad adeudada a Ago 2005, ..., X17= Cantidad adeudada a Abr 2005.

El tratamiento de missing values será asignar el promedio de saldos (cantidad adeuda por mes) de los meses observables entre Abril 2005 a Septiembre 2005.

In [35]:
## Asignación de valor para tratamiento de missing values por el promedio observado de la persona de la misma variable en todos los meses
df['X12'] =  np.where(df['X12'].isna(), df.loc[:, ['X12','X13','X14','X15','X16','X17']].mean(axis = 1), df['X12'])
df['X13'] =  np.where(df['X13'].isna(), df.loc[:, ['X12','X13','X14','X15','X16','X17']].mean(axis = 1), df['X13'])
df['X14'] =  np.where(df['X14'].isna(), df.loc[:, ['X12','X13','X14','X15','X16','X17']].mean(axis = 1), df['X14'])
df['X15'] =  np.where(df['X15'].isna(), df.loc[:, ['X12','X13','X14','X15','X16','X17']].mean(axis = 1), df['X15'])
df['X16'] =  np.where(df['X16'].isna(), df.loc[:, ['X12','X13','X14','X15','X16','X17']].mean(axis = 1), df['X16'])
df['X17'] =  np.where(df['X17'].isna(), df.loc[:, ['X12','X13','X14','X15','X16','X17']].mean(axis = 1), df['X17'])

In [36]:
## Valores nulos por columna de las variables tratadas en esta sección
for i in df[['X12','X13','X14','X15','X16','X17']].columns: 
  print('Columna ' + str(i) + ' tiene ' +  str(df[i].isna().sum()) +' valores nulos, que representa ' + str(round((df[i].isna().sum()/df[i].count())*100,2)) +'% del total' )

Columna X12 tiene 8 valores nulos, que representa 0.03% del total
Columna X13 tiene 8 valores nulos, que representa 0.03% del total
Columna X14 tiene 8 valores nulos, que representa 0.03% del total
Columna X15 tiene 8 valores nulos, que representa 0.03% del total
Columna X16 tiene 8 valores nulos, que representa 0.03% del total
Columna X17 tiene 8 valores nulos, que representa 0.03% del total

Observamos que siguen existiendo valores nulos, y esto puede seguir sucediendo cuando el modelo se enfrente a data no conocida con missing values. 

Se decide asignar el valor de la mediana a los datos faltantes de cada periodo. Elegí la mediana en lugar de la media porque al ser saldos puede haber un mal reporte u outliers que suban el promedio fuera de una respuesta real.

In [37]:
## Asignación de valores para tratamiento de missing values
valor12 = df['X12'].median()
valor13 = df['X13'].median()
valor14 = df['X14'].median()
valor15 = df['X15'].median()
valor16 = df['X16'].median()
valor17 = df['X17'].median()

In [38]:
## Asignación de valores
df['X12'] = np.where(df['X12'].isna(),valor12,df['X12'])
df['X13'] = np.where(df['X13'].isna(),valor13,df['X13'])
df['X14'] = np.where(df['X14'].isna(),valor14,df['X14'])
df['X15'] = np.where(df['X15'].isna(),valor15,df['X15'])
df['X16'] = np.where(df['X16'].isna(),valor16,df['X16'])
df['X17'] = np.where(df['X17'].isna(),valor17,df['X17'])

###### **Columnas X18 a X23 -- Cantidad pagada por mes**

Variables sobre la cantidad pagada por mes. 

Donde X12 = Cantidad pagada a Sep 2005, X13= Cantidad pagada a Ago 2005, ..., X17= Cantidad pagada a Abr 2005.

El tratamiento de missing values será asignar el promedio de pagos (cantidad pagada por mes) de los meses observables entre Abril 2005 a Septiembre 2005.

In [39]:
## Asignación de valor para tratamiento de missing values por el promedio observado de la persona de la misma variable en todos los meses
df['X18'] =  np.where(df['X18'].isna(), df.loc[:, ['X18','X19','X20','X21','X22','X23']].mean(axis = 1), df['X18'])
df['X19'] =  np.where(df['X19'].isna(), df.loc[:, ['X18','X19','X20','X21','X22','X23']].mean(axis = 1), df['X19'])
df['X20'] =  np.where(df['X20'].isna(), df.loc[:, ['X18','X19','X20','X21','X22','X23']].mean(axis = 1), df['X20'])
df['X21'] =  np.where(df['X21'].isna(), df.loc[:, ['X18','X19','X20','X21','X22','X23']].mean(axis = 1), df['X21'])
df['X22'] =  np.where(df['X22'].isna(), df.loc[:, ['X18','X19','X20','X21','X22','X23']].mean(axis = 1), df['X22'])
df['X23'] =  np.where(df['X23'].isna(), df.loc[:, ['X18','X19','X20','X21','X22','X23']].mean(axis = 1), df['X23'])

In [40]:
## Valores nulos por columna
for i in df[['X18','X19','X20','X21','X22','X23']].columns: 
  print('Columna ' + str(i) + ' tiene ' +  str(df[i].isna().sum()) +' valores nulos, que representa ' + str(round((df[i].isna().sum()/df[i].count())*100,2)) +'% del total' )

Columna X18 tiene 3 valores nulos, que representa 0.01% del total
Columna X19 tiene 3 valores nulos, que representa 0.01% del total
Columna X20 tiene 3 valores nulos, que representa 0.01% del total
Columna X21 tiene 3 valores nulos, que representa 0.01% del total
Columna X22 tiene 3 valores nulos, que representa 0.01% del total
Columna X23 tiene 3 valores nulos, que representa 0.01% del total

Observamos que siguen existiendo valores nulos, y esto puede seguir sucediendo cuando el modelo se enfrente a data no conocida con missing values. 

Se decide asignar el valor de la mediana a los datos faltantes de cada periodo. Elegí la mediana en lugar de la media porque al ser una cantidad reportada de pago puede haber un mal reporte u outliers que suban el promedio fuera de una respuesta real.

In [41]:
## Valor para ser asignado a missing values
valor18 = df['X18'].mean()
valor19 = df['X19'].mean()
valor20 = df['X20'].mean()
valor21 = df['X21'].mean()
valor22 = df['X22'].mean()
valor23 = df['X23'].mean()

In [42]:
## Asignación de valor a missing values
df['X18'] = np.where(df['X18'].isna(),valor18,df['X18'])
df['X19'] = np.where(df['X19'].isna(),valor19,df['X19'])
df['X20'] = np.where(df['X20'].isna(),valor20,df['X20'])
df['X21'] = np.where(df['X21'].isna(),valor21,df['X21'])
df['X22'] = np.where(df['X22'].isna(),valor22,df['X22'])
df['X23'] = np.where(df['X23'].isna(),valor23,df['X23'])

###### **Columna Y -- Flag de comportamiento**

Se entiende que la variable Y al sólo tomar los valores 0 y 1 se toma como la clasificación de comportamiento de default para entrenar el modelo.

Sólo se tienen 3 valores nulos. 
Se decide quitar por completo dichos registros, ya que no sería pertinente asignar un comportamiento sin conocer el resultado, y sesgar la relación de las variables que si observamos.

In [43]:
## Filtrar por sólo registros no nulos en variables "Y"
df = df[df['Y'].notna()]

Adicionalmente se transforma el tipo de dato de float a int para su uso en la solución de un problema de clasificación.

In [44]:
## cambiar el tipo de dato
df['Y'] = df['Y'].astype(int)

**Resultado de datos faltantes en la muestra**

In [45]:
## Valores nulos por columna
for i in df.columns: 
  print('Columna ' + str(i) + ' tiene ' +  str(df[i].isna().sum()) +' valores nulos, que representa ' + str(round((df[i].isna().sum()/df[i].count())*100,2)) +'% del total' )

Columna ID tiene 0 valores nulos, que representa 0.0% del total
Columna X1 tiene 0 valores nulos, que representa 0.0% del total
Columna X2 tiene 0 valores nulos, que representa 0.0% del total
Columna X3 tiene 0 valores nulos, que representa 0.0% del total
Columna X4 tiene 0 valores nulos, que representa 0.0% del total
Columna X5 tiene 0 valores nulos, que representa 0.0% del total
Columna X6 tiene 0 valores nulos, que representa 0.0% del total
Columna X7 tiene 0 valores nulos, que representa 0.0% del total
Columna X8 tiene 0 valores nulos, que representa 0.0% del total
Columna X9 tiene 0 valores nulos, que representa 0.0% del total
Columna X10 tiene 0 valores nulos, que representa 0.0% del total
Columna X11 tiene 0 valores nulos, que representa 0.0% del total
Columna X12 tiene 0 valores nulos, que representa 0.0% del total
Columna X13 tiene 0 valores nulos, que representa 0.0% del total
Columna X14 tiene 0 valores nulos, que representa 0.0% del total
Columna X15 tiene 0 valores nulos, que representa 0.0% del total
Columna X16 tiene 0 valores nulos, que representa 0.0% del total
Columna X17 tiene 0 valores nulos, que representa 0.0% del total
Columna X18 tiene 0 valores nulos, que representa 0.0% del total
Columna X19 tiene 0 valores nulos, que representa 0.0% del total
Columna X20 tiene 0 valores nulos, que representa 0.0% del total
Columna X21 tiene 0 valores nulos, que representa 0.0% del total
Columna X22 tiene 0 valores nulos, que representa 0.0% del total
Columna X23 tiene 0 valores nulos, que representa 0.0% del total
Columna Y tiene 0 valores nulos, que representa 0.0% del total

**Nuevo tamaño del dataframe**

In [46]:
df.shape # Tamaño del dataframe

(29997, 25)

In [47]:
## Se nota la falta de los últimos 3 registros eliminados por no tener bandera de comportamiento

**Sugerencia:** Dependiendo del algoritmo a usar se decidirá si es pertinente hacer transformaciones de las variables, o realizar tratamientos extras para outliers. 
Esto depende del algoritmo a usar debido a que aquellos como Regresión Logística, si se ven afectado por la distribución o por outliers. Sin embargo, algoritmos como ensambles de árboles no se verían afectados. 
No se realiza mayor investigación al momento porque sale del propósito de dicha práctica.

## **Parte 3: Preparación de los datos**

Respuesta a las preguntas planteadas

1. ¿Qué datos considero mas importantes? ¿Por qué?

Considero que los datos más importantes son aquellos que te hablan sobre las características del crédito, y su comportamiento en el tiempo. Es decir, las variables sobre monto de crédito, saldo en últimos meses, estatus y monto de pago en los periodos anteriores. 
Las considero más importantes sobre las otras variables sociodemográficas ya que están relacionadas directamente con el propósito del modelo, que es medir la probabilidad de default de una persona en el ambiente crediticio. Por otro lado, dependiendo de cómo se quiera utilizar el modelo, las variables sociodemográficas pueden ayudar a segmentar a la población, y crear modelos más precisos por segmento.


2. ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

Se reemplazaron los valores nulos dependiendo del tipo de datos y la información que quiere transmitir. A modo de resumen expongo que, para las variables categóricas como género o nivel de educación se asignó la moda como criterio de limpieza. Por otro lado, la variable histórica del estatus de pago, se decidió asignar el último estatus observado, por ejemplo si no se tiene el dato de Septiembre se asigna el observado de Agosto, y así sucesivamente. De continuar con valores nulos en dicha variable, se asignó el valor “cero” con el fin de identificar los datos sin registro en dichas variables, y que funcione como tratamiento cuando el modelo se encuentre con información no conocida (test).
Por otro lado, las variables de histórico de Saldos y de Pago, se utilizó el promedio de la persona en los periodos observados, a forma de que el valor asignado esté dentro del rango de comportamiento de la persona. De seguir presentando valores nulos, se asignó la mediana de la población para dicha variable.
Finalmente, se decidieron eliminar los registros con valores nulos en “Y” flag de comportamiento, ya que no se tenía una forma de asignar sin sesgar la relación de las variables. 


3. ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?

No, pienso que lo necesario es conocer la variable en cuánto a la información que almacena y su distribución para entender qué tratamiento se le debe realizar. Más allá de ordenar la información, se trata de ir a fondo al entendimiento de la descripción de la variable en conjunto con lo observado, y de esta manera encontrar la mejor forma de utilizar los datos para que el modelo tenga el mejor desempeño. 


4. ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

Al momento sólo se identifica la necesidad de asignar un tipo de dato “string” al identificador único “ID” para no tener problemas de pérdida de información al momento de la lectura o tratamiento de los datos cuando se realicen cálculos o cruces con otras bases. Adicionalmente, la bandera de comportamiento “y” se transformó de tal manera que se identifique como niveles para resolver un problema de clasificación.


5. ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

Adicional a la limpieza de missing values expuesta, se encontró que en algunas variables categóricas como nivel de educación o estatus de pago en meses anteriores, se encontraban calcificaciones no descritas en las definiciones, donde se entiende habia un error de llenado, por lo que a dichas clasificaciones se les asignó un único nivel de “otros” para el caso de nivel de educación, y al corriente (-1) para el estatus de pago. 
Finalmente, para los datos faltantes sobre el estatus de pago histórico después del tratamiento se decidió asignar manualmente a una clasificación “cero” dónde podamos identificar aquellos registros sin información.